.banner {
  width: 100%;
}
.banner .row {
  width: 100%;
  height: 100%;
}
.banner .row .title {
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.banner .row .title .cloud {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 19%;
  top: 11%;
  animation: cloud 7s linear infinite alternate;
}
.banner .row .title .cloud img {
  width: 86px;
  height: 76px;
}
.banner .row .title .rocket {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 10%;
  bottom: 33%;
  animation: rocket 3.5s ease-in infinite;
}
.banner .row .title .rocket img {
  width: 70px;
  height: 70px;
}
.banner .row .title .slogan h1 {
  font-weight: 600;
  font-size: 50px;
}
.banner .row .title .slogan h1:last-of-type {
  color: rgb(65, 178, 148);
  font-size: 65px;
  font-weight: 700;
  overflow: hidden;
  animation: slogan 4.5s ease-in-out 3s infinite;
}
.banner .row .title .slogan h1:last-of-type span {
  color: black;
  font-size: 50px;
  font-weight: 600;
}
.banner .row .title .slogan .sliderPlaneImg {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  right: 20%;
  top: 20%;
  width: 20%;
  height: 20%;
}
.banner .row .title .slogan button {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.banner .row .image {
  position: relative;
}
.banner .row .image .banner_img img {
  width: 100%;
  height: 100%;
}
.banner .row .image .cloud {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  left: 10%;
  top: 4%;
  animation: cloud_right 4s linear infinite;
}
.banner .row .image .cloud.mid {
  left: 14%;
  top: 16%;
}
.banner .row .image .cloud.bottom {
  left: 18%;
  top: 27%;
}
.banner .row .image .cloud img {
  width: 100px;
  height: 90px;
}
.banner .row .image .message {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 39%;
  right: 46%;
  animation: message 1.5s linear infinite alternate;
}
.banner .row .image .message img {
  width: 110px;
  height: 106px;
}

<<<<<<< HEAD
=======
.banner.iPad_pro .row {
  margin: 0;
  margin-left: 15px;
}
.banner.iPad_pro .row .title .slogan h1 {
  font-size: 48px;
}
.banner.iPad_pro .row .title .cloud {
  top: 5%;
}
.banner.iPad_pro .row .title .rocket {
  left: -11%;
  bottom: 13%;
}
.banner.iPad_pro .row .image .message {
  top: 38%;
  right: 44%;
}
.banner.iPad_pro .row .image .message img {
  width: 86px;
  height: 86px;
}

>>>>>>> 09521f97f2625caee131989520241a20ce055193
.banner.tablet .row .title {
  margin-top: 58px;
}
.banner.tablet .row .title .cloud {
  left: 12%;
  top: -24%;
}
.banner.tablet .row .title .rocket {
  left: 6%;
  bottom: -6%;
}
.banner.tablet .row .title .slogan img {
  right: 14%;
  top: 50%;
  width: 22%;
  height: 43%;
}

.banner.mobile .row .title {
  margin-top: 60px;
}
.banner.mobile .row .title .cloud {
  left: 12%;
  top: -21%;
}
.banner.mobile .row .title .rocket {
  left: -3%;
  bottom: -8%;
}
.banner.mobile .row .title .slogan {
  margin-left: 40px;
}
.banner.mobile .row .title .slogan img {
  right: 3%;
  top: 26%;
  width: 29%;
  height: 39%;
}
.banner.mobile .row .image .message {
  top: 37%;
  right: 43%;
}

.banner.iphone6_plus .row .title {
  margin-top: 60px;
  margin-left: 21px;
}
.banner.iphone6_plus .row .title .cloud {
  left: -15%;
  top: -23%;
}
.banner.iphone6_plus .row .title .cloud img {
  width: 65px;
  height: 60px;
}
.banner.iphone6_plus .row .title .rocket {
  left: -13%;
  bottom: -7%;
}
.banner.iphone6_plus .row .title .rocket img {
  width: 60px;
  height: 60px;
}
.banner.iphone6_plus .row .title .slogan h1 {
  font-weight: 600;
  font-size: 40px;
}
.banner.iphone6_plus .row .title .slogan h1:last-of-type {
  font-size: 55px;
}
.banner.iphone6_plus .row .title .slogan h1:last-of-type span {
  font-size: 40px;
}
.banner.iphone6_plus .row .title .slogan img {
  right: -1%;
  top: 27%;
  width: 29%;
  height: 39%;
}
.banner.iphone6_plus .row .title .slogan button {
  font-size: 13px;
}
.banner.iphone6_plus .row .image .message {
  top: 40%;
  right: 44%;
  animation: message2 2.5s linear infinite alternate;
}
.banner.iphone6_plus .row .image .message img {
  width: 50px;
  height: 50px;
}
.banner.iphone6_plus .row .image .cloud {
  left: 4%;
  top: 2%;
}
.banner.iphone6_plus .row .image .cloud img {
  width: 46px;
  height: 45px;
}
.banner.iphone6_plus .row .image .cloud.mid {
  left: 10%;
  top: 12%;
}
.banner.iphone6_plus .row .image .cloud.bottom {
  left: 14%;
  top: 25%;
}

.banner.iphone6 .row .title {
  margin-top: 60px;
  margin-left: 21px;
}
.banner.iphone6 .row .title .cloud {
  left: -17%;
  top: -21%;
}
.banner.iphone6 .row .title .cloud img {
  width: 55px;
  height: 55px;
}
.banner.iphone6 .row .title .rocket {
  left: -13%;
  bottom: -7%;
}
.banner.iphone6 .row .title .rocket img {
  width: 46px;
  height: 46px;
}
.banner.iphone6 .row .title .slogan h1 {
  font-weight: 600;
  font-size: 40px;
}
.banner.iphone6 .row .title .slogan h1:last-of-type {
  font-size: 55px;
}
.banner.iphone6 .row .title .slogan h1:last-of-type span {
  font-size: 40px;
}
.banner.iphone6 .row .title .slogan img {
  right: -1%;
  top: 35%;
  width: 35%;
  height: 39%;
}
.banner.iphone6 .row .title .slogan button {
  font-size: 13px;
}
.banner.iphone6 .row .image .message {
  top: 39%;
  right: 44%;
  animation: message2 2.5s linear infinite alternate;
}
.banner.iphone6 .row .image .message img {
  width: 44px;
  height: 44px;
}
.banner.iphone6 .row .image .cloud {
  left: 4%;
  top: 2%;
}
.banner.iphone6 .row .image .cloud img {
  width: 46px;
  height: 45px;
}
.banner.iphone6 .row .image .cloud.mid {
  left: 10%;
  top: 12%;
}
.banner.iphone6 .row .image .cloud.bottom {
  left: 14%;
  top: 25%;
}

@keyframes rocket {
  0% {
    transform: rotate(-43deg) translate(0px, 0px);
  }
  100% {
    transform: rotate(-43deg) translate(176px, -170px);
  }
}
@keyframes cloud {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(285px);
  }
}
@keyframes cloud_right {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(150px);
    opacity: 0;
  }
}
@keyframes message {
  0% {
    transform: rotate(-17deg) translateX(-16px);
  }
  100% {
    transform: rotate(19deg) translate(24px, -9px);
  }
}
@keyframes message2 {
  0% {
    transform: rotate(-19deg) translateX(-11px);
  }
  100% {
    transform: rotate(22deg) translate(8px, -3px);
  }
}
@keyframes slogan {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}/*# sourceMappingURL=banner.css.map */