.login {
  display: flex;
  height: 600px;
  justify-content: center;
<<<<<<< HEAD
=======
  align-items: center;
}
.login.iPad_pro {
  height: 853px;
  width: 97%;
}
.login.active {
  width: 98%;
}
.login.active .form {
  width: 95%;
  height: 450px;
  margin: 14px;
}
.login.active .form .background {
  height: 450px;
}
.login.active .form .formBx .signInForm {
  padding: 0;
  padding-right: 81px;
}
.login.active .form .formBx .signUpForm {
  padding: 0;
  top: 6%;
>>>>>>> 09521f97f2625caee131989520241a20ce055193
}
.login .form {
  position: relative;
  width: 970px;
  height: 500px;
  margin: 20px;
}
.login .form .background {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232946;
  box-shadow: 0px 0px 9px 3px #888888;
}
.login .form .background .box {
  width: 50%;
}
.login .form .background .box .box_2 {
  position: relative;
  height: 100%;
  text-align: center;
}
.login .form .background .box .box_2 h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.login .form .background .box .box_2 h4 {
  color: #fff;
}
.login .form .background .box .box_2 button {
  cursor: pointer;
  padding: 10px 20px;
  color: #232946;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background-color: #eebbc3;
  border-radius: 5px;
  opacity: 0.7;
  transition: all 0.5s;
}
.login .form .background .box .box_2 button:hover {
  opacity: 1;
}
.login .form .background .box .box_2 button:focus {
  outline: none;
}
.login .form .formBx {
  position: absolute;
  top: 40px;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #e3f6f5;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.233);
  transition: 0.6s ease-in-out;
  overflow: hidden;
}
.login .form .formBx .signInForm {
  transition-delay: 0.25s;
  position: absolute;
  top: 24%;
  left: 5%;
  width: 100%;
  /* padding: 50px; */
  transition: 0.5s;
  padding-right: 105px;
  text-align: center;
}
.login .form .formBx .signInForm a {
  color: #232946;
}
.login .form .formBx .signInForm button {
  background-color: #eebbc3;
  color: #232946;
}
.login .form .formBx.active {
  transform: translateX(105%);
}
.login .form .formBx.active .signInForm {
  left: -100%;
  transition-delay: 0s;
}
.login .form .formBx.active .signUpForm {
  left: 0 !important;
  transition-delay: 0s;
}
.login .form .formBx .signUpForm {
  left: 100% !important;
  transition-delay: 0.25s;
  top: 7%;
  padding-right: 545px;
}
.login .form .formBx .signUpForm button {
  background-color: #eebbc3;
  color: #232946;
}
.login .form .formBx .form {
  position: absolute;
  transition: 0.5s;
}

.login.active.mobile {
  width: 98%;
}
.login.active.mobile .form .background {
  width: 99%;
}
.login.active.mobile .form .formBx .signInForm {
  padding-right: 43px;
}
.login.active.mobile .form .formBx .signUpForm {
  top: 1%;
}

.login.active.iphone6_plus {
  width: 97%;
  height: 740px;
}
.login.active.iphone6_plus .form {
  height: 660px;
  margin-top: -30px;
}
.login.active.iphone6_plus .form .background {
  width: 98%;
  height: 100%;
}
.login.active.iphone6_plus .form .background .box .box_2 h3 {
  font-size: 1rem;
}
.login.active.iphone6_plus .form .background .box .box_2 h4 {
  font-size: 1.2rem;
}
.login.active.iphone6_plus .form .background .box .box_2 button {
  padding: 6px 13px;
  font-size: 0.85rem;
}
.login.active.iphone6_plus .form .formBx {
  height: 100%;
}
.login.active.iphone6_plus .form .formBx .signInForm {
  padding-right: 43px;
}
.login.active.iphone6_plus .form .formBx .signUpForm {
  width: 93%;
  top: 7%;
}
.login.active.iphone6_plus .form .formBx .signUpForm form .ant-form-item {
  margin: 0;
}
.login.active.iphone6_plus .form .formBx .signUpForm form .ant-form-item:last-of-type {
  margin-top: 10px;
}

.login.active.iphone6 {
  width: 97%;
  height: 740px;
}
.login.active.iphone6 .form {
  height: 680px;
  margin-top: -30px;
}
.login.active.iphone6 .form .background {
  width: 98%;
  height: 100%;
}
.login.active.iphone6 .form .background .box .box_2 h3 {
  font-size: 1rem;
}
.login.active.iphone6 .form .background .box .box_2 h4 {
  font-size: 1rem;
  padding-right: 5px;
}
.login.active.iphone6 .form .background .box .box_2 button {
  padding: 6px 13px;
  font-size: 0.85rem;
}
.login.active.iphone6 .form .formBx {
  height: 100%;
}
.login.active.iphone6 .form .formBx .signInForm {
  padding-right: 43px;
}
.login.active.iphone6 .form .formBx .signUpForm {
  top: 7%;
}
.login.active.iphone6 .form .formBx .signUpForm form {
  width: 93%;
}
.login.active.iphone6 .form .formBx .signUpForm form .ant-form-item {
  margin: 0;
}
.login.active.iphone6 .form .formBx .signUpForm form .ant-form-item:last-of-type {
  margin-top: 10px;
}/*# sourceMappingURL=login.css.map */