.modal .modal-dialog {
  margin: 5.8rem auto;
}
.modal .modal-dialog .box {
  position: relative;
  width: 500px;
  height: 550px;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.modal .modal-dialog .box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 500px;
  height: 550px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: swivel 6s linear infinite;
}
.modal .modal-dialog .box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 500px;
  height: 550px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: swivel 6s linear infinite;
  animation-delay: -3s;
}
.modal .modal-dialog .modal-body {
  position: absolute;
  z-index: 10;
  inset: 2px;
  background-color: #28292d;
  border-radius: 8px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}
.modal .modal-dialog .modal-body h3 {
  color: #45f3ff;
  text-align: center;
  letter-spacing: 0.1rem;
}
.modal .modal-dialog .modal-body .form-group {
  position: relative;
  margin-top: 34px;
  margin-bottom: 52px;
}
.modal .modal-dialog .modal-body .form-group.last {
  margin-bottom: 36px;
}
.modal .modal-dialog .modal-body .form-group input {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  padding-bottom: 11px;
  z-index: 10;
}
.modal .modal-dialog .modal-body .form-group input:focus {
  box-shadow: none;
}
.modal .modal-dialog .modal-body .form-group input:not(:-moz-placeholder-shown) + span {
  color: #45f3ff;
  transform: translate(-10px, -34px);
  font-size: 0.86em;
}
.modal .modal-dialog .modal-body .form-group input:not(:placeholder-shown) + span, .modal .modal-dialog .modal-body .form-group input:focus + span:first-of-type {
  color: #45f3ff;
  transform: translate(-10px, -34px);
  font-size: 0.86em;
}
.modal .modal-dialog .modal-body .form-group input:not(:-moz-placeholder-shown) ~ i {
  height: 44px;
}
.modal .modal-dialog .modal-body .form-group input:not(:placeholder-shown) ~ i, .modal .modal-dialog .modal-body .form-group input:focus ~ i {
  height: 44px;
}
.modal .modal-dialog .modal-body .form-group span {
  position: absolute;
}
.modal .modal-dialog .modal-body .form-group span:first-of-type {
  font-size: 1em;
  left: 12px;
  top: 7px;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05rem;
  transition: 0.5s;
}
.modal .modal-dialog .modal-body .form-group span:last-of-type {
  bottom: -25px;
}
.modal .modal-dialog .modal-body .form-group i {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #45f3ff;
  border-radius: 4px;
  transition: all 0.5s;
  pointer-events: none;
}
.modal .modal-dialog .modal-body .button button {
  background-color: #45f3ff;
  color: #23242a;
  border: none;
  font-weight: 500;
  transition: all 0.4s;
  padding: 8px 15px;
}
.modal .modal-dialog .modal-body .button button:hover {
  background-color: #23242a;
  color: #45f3ff;
}
.modal.active .modal-dialog {
  margin: 2.5rem auto;
  margin-left: 2.3rem;
}
.modal.active .modal-dialog .box {
  width: 315px;
  height: 520px;
}
.modal.active .modal-dialog .box .modal-body {
  padding: 27px 28px;
}
.modal.active .modal-dialog .box .modal-body h3 {
  font-size: 22px;
}

@keyframes swivel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=modal.css.map */