.profile p {
  margin: 0;
}
.profile .title {
  padding: 50px;
  color: #fff;
  background-color: #ffd60a;
  text-transform: uppercase;
}
.profile .infoPageContent {
  padding: 50px;
}
.profile .infoPageContent .left .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.profile .infoPageContent .left .info img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.profile .infoPageContent .left .info p {
  font-size: 18px;
}
.profile .infoPageContent .right .button {
  border: none;
  background-color: #ffc6c7;
  color: #33272a;
  font-weight: 500;
  font-size: 18px;
}
.profile .infoPageContent .right .button.active {
  background-color: #41b294;
  color: #fff;
}
.profile .infoPageContent .right .button:focus {
  outline: none;
}
.profile .infoPageContent .right .button:first-child {
  margin-right: 15px;
}
.profile .infoPageContent .right .userInfo .top p {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
.profile .infoPageContent .right .userInfo .top p span {
  font-size: 15px;
  font-weight: 400;
  margin-left: 8px;
}
.profile .infoPageContent .right .userInfo .top button {
  padding: 8px 18px;
  background-color: #41b294;
  border: none;
  transition: all 0.5s;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}
.profile .infoPageContent .right .userInfo .top button:focus {
  box-shadow: none;
}
.profile .infoPageContent .right .userInfo .top button:hover {
  background-color: #ffc6c7;
  color: #000;
}
.profile .infoPageContent .right .userInfo .bottom {
  padding: 30px 0;
}
.profile .infoPageContent .right .userInfo .bottom h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll {
  background-color: #eff0f3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 25px 30px;
  border-radius: 10px 0 0 10px;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill {
  margin: 20px 0;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill:first-child {
  margin-top: 0;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .info {
  margin-bottom: 5px;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .info span {
  font-size: 17px;
  font-weight: 500;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line {
  position: relative;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(189, 189, 189);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line span {
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #6665ee;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line span.html {
  width: 90%;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line span.css {
  width: 80%;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line span.bootstrap {
  width: 70%;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line span.js {
  width: 85%;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line span.react {
  width: 75%;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line span::before {
  content: "";
  position: absolute;
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 8px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line.html span::after {
  content: "90%";
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line.css span::after {
  content: "75%";
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line.bootstrap span::after {
  content: "70%";
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line.js span::after {
  content: "85%";
}
.profile .infoPageContent .right .userInfo .bottom .skillAll .mySkill .progress_line.react span::after {
  content: "75%";
}
.profile .infoPageContent .right .userInfo .bottom .btnTime {
  background-color: #eff0f3;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile .infoPageContent .right .userInfo .bottom .btnTime .timeStudy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}
.profile .infoPageContent .right .userInfo .bottom .btnTime .timeStudy .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  background: #41b294;
  color: #fff;
}
.profile .infoPageContent .right .userInfo .bottom .btnTime .timeStudy .item h6 {
  margin: 0;
}
.profile .infoPageContent .right .userInfo .bottom .btnTime .timeStudy .item i {
  margin-right: 5px;
}
.profile .infoPageContent .right .myCourseInfo .myCourse {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profile .infoPageContent .right .myCourseInfo .myCourse .form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile .infoPageContent .right .myCourseInfo .myCourse .form input {
  padding: 7px 10px;
  padding-right: 29px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 200px;
  font-size: 14px;
}
.profile .infoPageContent .right .myCourseInfo .myCourse .form input:focus {
  border: 2px solid #41b294;
  outline: none;
}
.profile .infoPageContent .right .myCourseInfo .myCourse .form i {
  position: absolute;
  top: 10px;
  right: 12px;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
<<<<<<< HEAD
=======
  min-height: 483px;
>>>>>>> 09521f97f2625caee131989520241a20ce055193
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem::-webkit-scrollbar {
  width: 10px;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #41b294;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item {
  margin-bottom: 20px;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item #course {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  max-height: 200px;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent * {
  margin-bottom: 7px;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent .content {
  color: #8c8c8c;
  max-height: 52px;
  overflow: hidden;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: justify;
  text-overflow: ellipsis;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent .iconNetCard span {
  padding-right: 15px;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent .iconNetCard span:first-child i {
  color: #f5c002;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent .iconNetCard span:nth-child(2) i {
  color: #f06f68;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent .iconNetCard span:last-child i {
  color: #65c9ff;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent .iconStarNet i {
  color: #f5c002;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent .teacher {
  margin-top: 5px;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cardNetContent .teacher img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .infoPageContent .right .myCourseInfo .myCourseItem .item .cancelNet {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
<<<<<<< HEAD
=======
.profile .infoPageContent .right .myCourseInfo .myCourseItem .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 480px;
  width: 100%;
}
>>>>>>> 09521f97f2625caee131989520241a20ce055193
.profile.active .infoPageContent .right .nav-pills {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.profile.active .infoPageContent .right button {
  font-size: 15px;
  padding: 8px 11px;
}
.profile.active .infoPageContent .right .userInfo .bottom .skillAll {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
}
.profile.active .infoPageContent .right .userInfo .bottom .btnTime {
  box-shadow: 5px 9px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
}
.profile.active .infoPageContent .right .userInfo .bottom .btnTime .timeStudy {
  padding-bottom: 30px;
}
.profile.find .infoPageContent .right .myCourseInfo .myCourse {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=profile.css.map */