.header__adminLeaning {
    justify-content: space-between;

    .button__addLearn {
        outline: #1465d8;
    }

    .ant-input-affix-wrapper {
        width: 25%;
        height: 35px;
        margin-left: 20%;
    }

    .icon {
        i {
            font-size: 18px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            text-align: center;
            background-color: #1677ff;
            color: white;
            border-radius: 20%;
            transition: all .3s;

            &:hover {
                background-color: #4096ff;
            }
        }
    }
}

.leaningList {
    thead {
        tr {
            th {
                font-size: 18px;
                font-weight: 700;
                text-align: center !important;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }

    tbody {
        tr {
            font-size: 18px;
            font-weight: 600;

            td {
                border: 1px solid #dee2e6;
                text-align: center;

                button {
                    margin-right: 5px;
                    color: white;
                }
            }

            .SttLearning {
                width: 6%;
                max-width: 6%;
                min-width: 6%;
            }

            .maKhoaHoc {
                width: 12%;
                max-width: 12%;
                min-width: 12%;
            }

            .tenKhoaHoc {
                width: 20%;
                max-width: 20%;
                min-width: 20%;
            }

            .hinhAnh {
                width: 26%;
                max-width: 26%;
                min-width: 26%;
                overflow: hidden;

                img {
                    position: absolute;
                    background-size: cover;
                    width: 100%;
                    top: 0;
                    left: 0;

                }
            }

            .hoTenLearning {
                width: 15%;
                max-width: 15%;
                min-width: 15%;
            }

            .chucNangLearning {
                width: 21%;
                max-width: 21%;
                min-width: 21%;

                .repair {
                    transition: all .3s;
                    margin-right: 5px;
                    font-weight: 600;
                    background-color: green;
                    color: white;


                    &:hover {
                        background-color: rgb(3, 103, 3) !important;
                        color: white;
                    }


                }

                .delete {
                    color: white;
                    transition: all .3s;
                    margin-right: 5px;
                    font-weight: 600;
                }
            }
        }
    }
}