.courseBox {
    padding: 50px;
    margin-bottom: 50px;
    .courseBoxItem {
        padding: 0;
        .boxContent {
            display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;
        text-transform: uppercase;
        height: 100%;
        padding: 30px 20px;
        text-align: center;
            h6 {
            padding-bottom: 10px;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.2;
        }
            i {
            padding-bottom: 10px;
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
        }
        .colorStyle1 {
            background: #264653;
        }
        .colorStyle2 {
            background: #2a9d8f;
        }
        .colorStyle3 {
            background: #e9c46a;
        }
        .colorStyle4 {
            background: #f4a261;
        }
        .colorStyle5 {
            background: #ee8959;
        }
        .colorStyle6 {
            background: #e76f51;
        }
    
    }
}


